/* Custom CSS Class */
.nike-react-text-warning {
    color: #FA804C;
}

.nike-react-primary {
    color: #363958;
}

.nike-react-btn {
    background-color: #363958;
    color: white;
}

.nike-mt {
    margin-top: 178px;
}

.casual-shoe-color {
    color: #363958;
}

.dollar-color {
    color: #FA804C;
}

.nike-react-btn-two {
    color: white;
    background-color: #3644BF;

}

.contact-mt {
    margin-top: 153px;
}

.contact-img-ms {
    margin-left: 83px;
}